<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Values</key>
        <array>
            <!--<string>Full Version</string>
             <string>itunes.apple.com/kr/app/strange-case-dr.-jekyll-mr./id404151440?mt=8</string>-->
            <string>More Books</string>
            <string>itunes.apple.com/app/text-audio-books/id431189747?mt=8</string>
        </array>
    </dict>
</plist>
