<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Values</key>
	<array>
		<string>Full Version</string>
		<string>https://itunes.apple.com/app/alices-adventures-in-wonderland/id400657552?mt=8</string>
	</array>
</dict>
</plist>
